{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h4 class="cart-item">Payment</h4>

    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="row">
                <aside class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-4 ">Billing Address</h5>

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">First Name</label>
                                        <input type="text" name="first_name" class="form-control" required>
                                    </div>

                                    <div class="col form-group">
                                        <label for="">Last Name</label>
                                        <input type="text" name="last_name" class="form-control" required>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">Email</label>
                                        <input type="email" name="email" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="">Phone Number</label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">Address Line 1</label>
                                        <input type="text" name="address_line_1" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="">Address Line 2</label>
                                        <input type="text" name="address_line_2" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">City</label>
                                        <input type="text" name="city" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="">State</label>
                                        <input type="text" name="state" class="form-control required">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">Country</label>

                                        <select name="country" class="form-control" required>
                                            <option value="RO" selected>Romania</option>
                                        </select>
                                        {#                                        <select name="country" class="form-control" required>#}
                                        {#                                            <option value="" selected disabled>Select a country</option>#}
                                        {#                                            <option value="RO">Romania</option>#}
                                        {#                                            <!-- Add more countries as needed -->#}
                                        {#                                        </select>#}

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label for="">Order Note</label>
                                        <textarea name="order_note" class="form-control"></textarea>
                                    </div>
                                </div>


                        </div>
                    </div> <!-- card.// -->

                </aside>


                <aside class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="card-title">
                                <tr class="text-muted">
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-left">
                                                <div class="image-container1 align-items-left">
                                                    <img src="{{ cart_item.product.image.url }}" class="img-thumbnail">
                                                    <div>{{ cart_item.product.name }}</div>
                                                </div>
                                            </figure>
                                        </td>

                                        <td>
                                            <div class="quantity">{{ cart_item.quantity }}</div>
                                        </td>
                                        <td>
                                            <div class="quantity">{{ cart_item.sub_total }} RON</div>
                                        </td>
                                    </tr>


                                {% endfor %}

                            </table>

                            <a href="{% url 'place_order' %}" class="btn btn-light btn-block">Place Order</a>

                            <div><a href="{% url 'menu-homepage' %}" class="btn btn-light btn-block">Continue
                                Shopping</a></div>
                        </div>
                        </form>
                    </div> <!-- card-body.// -->
            </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        </div> <!-- container .//  -->
    </section>
    <script src="{% static 'js/my_script.js' %}"></script>
{% endblock %}
