{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
<section class="container-fluid" style="background-image: url('../static/img/background.jpg');
            background-size: cover; background-position: center; width: 100vw; height: 80vw;">
  <!-- Content goes here -->


  <div class="row">
    <div class="col-12">
      <h1 style="color: indianred;">Welcome to Knife and Fork</h1>
      <p>Experience exquisite flavors and exceptional service at our restaurant.</p>
      <img src="#" alt="Restaurant Image">

      <div class="about-section">
        <h2>About Us</h2>
        <p>Discover our passion for food and dedication to culinary excellence.</p>
      </div>

      <div class="menu-section">
        <h2>Menu</h2>
        <p>Explore our mouth-watering menu featuring a variety of dishes.</p>
        <a href="#">View Menu</a>
      </div>

      <div class="contact-section">
        <h2>Contact Us</h2>
        <p>Get in touch with us to make a reservation or inquire about our services.</p>
        <p>Phone: 123-456-7890</p>
        <p>Email: info@restaurantname.com</p>
      </div>
    </div>
  </div>
</section>

{% block footer %}
<footer>
  <p>&copy; {{ current_year }} Knife and Fork. All rights reserved. </p>
</footer>
{% endblock %}
{% endblock %}
