{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

    <section class="home" id="home">
        <div class="home-content">
            <h1>Vendor Restaurant</h1>
            <br>
            <p>Vendor Restaurant is a vibrant and trendy eatery that offers a unique dining experience by bringing
                together a diverse selection of cuisines from various local vendors under one roof. From mouthwatering
                pizzas to succulent steaks, refreshing salads, and comforting soups, the restaurant caters to a wide
                range of culinary preferences. With an open kitchen concept, patrons can witness the skillful
                preparation of their favorite dishes, adding to the overall excitement. Whether you're craving Italian
                flavors, savoring a juicy steak, or opting for a lighter option like salads and soups, Vendor Restaurant
                has something to delight every palate..</p>
<br>
            <p>Our mission is to provide exceptional food quality and service to our customers, ensuring a memorable
                dining experience. We strive to source the freshest ingredients and collaborate with local vendors to
                bring you the best flavors in town. Come and indulge in the delightful ambiance, friendly staff, and
                mouthwatering dishes at Vendor Restaurant.</p>
<br>
              <div class="social-media">
                <a href="https://www.facebook.com/sidonia05" style="--i:7;"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.instagram.com/sidonia05" style="--i:8;"><i class='bx bxl-instagram'></i></a>
                <a href="#" style="--i:9;"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

    </section>
    <br>
    <br>
    <br>

    <footer class="footer">
        <div class="container">
            <p class="footer-text">&copy; 2023 Vendor Restaurant. All rights reserved.</p>
        </div>
    </footer>

{% endblock %}