{% extends 'base.html' %}


{% block title %} Change Password {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Password change successfully</h3>
                    </div>
                    <div class="card-body">
                        <p> Congratulations, the password has been successfully changed!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'homepage' %}" class="btn btn-outline-success">Go to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}