body {
    background-image: url("/static/media/images/background.jpg");
    color: #DAA520;
    background-size: 100% 115%;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

html, body {
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
}


.content {
    flex: 1;
}


footer {
    flex-shrink: 0;
}

a.navbar-brand {
    color: #DAA520;

}

a.nav-link {
    color: #DAA520;
    transition: color 0.3s ease;

}

a.nav-link:hover {
    color: #6c7214;
}

.login-register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    margin-left: 460px;

}

.login-register a {
    margin-left: 10px;
    color: #DAA520;
    text-decoration: none;
!important;
}


.favicon {
    width: 33px;
    margin-right: 10px;
}

.home-content {
    text-align: justify;
    padding-right: 45%;
    margin-left: 20px;
    line-height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ffe325;
}

footer .container {
    text-align: center;

}

.footer-text {
    color: #fff;
    font-size: 10px;
}

.title-employee {
    text-align: center;
    margin-bottom: 15px;
}

.employee-card {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.employee-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.img-small {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
}


a.employee-name-link:hover {
    text-decoration: underline;
    color: blue;
}

a.employee-name-link:visited {
    color: inherit /* Setează culoarea la albastru pentru link-urile vizitate */
}


.card-footer {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.todo-title {
    text-align: center;
}


.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;

}

.task-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.task-table td {
    padding: 10px;
}

.task-link {
    text-decoration: none;
    color: blue;
}

.task-link:hover {
    text-decoration: underline;
}

.task-complete-checkbox {
    transform: scale(1.2);
    margin: 0 auto;
    display: inline-block;

}

.checkbutton {
    text-align: center;
}

a.add-todo {
    font-size: 25px;
    color: #DAA520;
    text-align: center;
}

/*magazin*/
/* Custom CSS for your HTML code */
a.nav-link.active {
    font-size: 18px;
    line-height: 21px;


}

.navbar-vertical {
    margin-bottom: 20px;
    margin-left: 2px;

}

.navbar-vertical .nav-link {
    margin-bottom: 10px;
}

.footer-widget {
    bottom: 0;
    left: 0;
    right: 0;
}


/*imagine container produse rest*/
.card {
    margin-bottom: 20px;
    padding: 10px;

}

.image-container {
    flex: 0 0 30%; /* Se ocupă 30% din lățimea cardului */
    margin-right: 10px;
}

.image-container img {
    height: 150px;
    width: auto;
}


/*btn*/
.btn {
    color: #DAA520;
    width: fit-content;

}

.card-height {
    height: 500px;
}

.text-description-product {
    font-size: 12px;
    left: 16%;


}

.card {
    text-align: justify;
}

.price {
    position: absolute;
    top: 440px;
    left: 16%;
    transform: translateX(-50%);

}

.btn-custom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    border-radius: 5px;
    /*overflow: hidden;*/
    position: relative;


}

.image-container img {
    display: block;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 5px;
}

/*.image-container:hover:before {*/
/*    opacity: 1;*/
/*}*/

/*.image-container:hover img {*/
/*    transform: scale(1.1);*/
/*}*/

.recipe-container {
        max-width: 800px;
        margin: 0;
        padding: 20px;

    }