/* employee.css */

.employee-card {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.employee-photo1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.title-employee {
  text-align: center;
  padding-bottom: 5px;
}

/* employee -details */

.employee-table {
  width: 100%;
  border: none;
}

.employee-table td {
  border: none;

}

.employee-photo {
  width: 30%;
  border: none;
  margin-right: 20px;
}

.img-small {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.employee-info {
  padding-left: 80px;
  width: 80%;
  text-align: left;

}

.title-employee {
  text-align: center;
  padding-bottom: 20px;
}

/*link  - go to another page */
.center-link {
  text-align: center;

}

.link-style {
  color: blue;
  text-decoration: none;
}


/*add tasks*/
/* styles.css */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f2f2f2;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-option {
  color: black;!important;
}