body {
    background-image: url("/static/media/images/background.jpg");
    color: #DAA520;
    background-size: 100%

}

a.navbar-brand {
    color: #DAA520;

}

a.nav-link {
    color: #DAA520;
}

.favicon {
    width: 40px;
    margin-right: 5px;
}

.home-content {
    text-align: justify;
    padding-right: 45%;
    margin-left: 20px;
    line-height: 35px;
    padding-top: 26px;

}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ffe325;
}

footer .container {
    text-align: center;

}

.footer-text {
    color: #fff;
    font-size: 10px;
}