{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="table-responsive">
            <h1 class="title-employee">Employee List</h1>
            <div class="employee-card">
                <table class="col-md-12">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Photo</th>
                            <th>Designation</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr>
                                <td>{{ employee.id }}</td>
                                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                                <td><img src="{{ employee.photo.url }}" alt="{{ employee.first_name }}'s photo" class="employee-photo" height="40px"></td>
                                <td>{{ employee.designation }}</td>
                                <td>{{ employee.email_address }}</td>
                                <td>{{ employee.phone_number }}</td>
                                <td>{{ employee.created_at }}</td>
                                <td>{{ employee.updated_at }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
