{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="card col-md-6 mx-auto">
            <div class="card-header">
                <h1 class="title-employee">Employee Details</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ employee.photo.url }}" alt="{{ employee.first_name }}'s photo" class="img-small">
                    </div>
                    <div class="col-md-6">
                        <p><strong>ID:</strong> {{ employee.id }}</p>
                        <p><strong>Name:</strong> {{ employee.first_name }} {{ employee.last_name }}</p>
                        <p><strong>Designation:</strong> {{ employee.designation }}</p>
                        <p><strong>Email:</strong> {{ employee.email_address }}</p>
                        <p><strong>Phone:</strong> {{ employee.phone_number }}</p>
                        <p><strong>Created At:</strong> {{ employee.created_at }}</p>
                        <p><strong>Updated At:</strong> {{ employee.updated_at }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="center-link">
                    <a href="#" class="btn btn-success">View Employee Tasks</a>
                </div>
            </div>
            <br>
            <div class="card-footer">
                <div class="center-link">
                    <a href="{% url 'employee' %}" class="link-style">Go to employee page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
