{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <img src="{% static 'media/images/favicon.ico' %}" alt="img" class="favicon">
    <a class="navbar-brand" href="#">Fork and Knife</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employee' %}">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu-homepage' %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task-list' %}">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <div class="login-register">
            <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" data-toggle="modal"
               href="{% url 'create_user' %}">Register</a>
            <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" data-toggle="modal"
               href="{% url 'user_login' %}">Login</a>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
</nav>
