<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Fork and Knife</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employee' %}">Employee</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu1">
                    <a class="dropdown-item" href="#">Pizza</a>
                    <a class="dropdown-item" href="#">Soup</a>
                    <a class="dropdown-item" href="#">Salad</a>
                    <a class="dropdown-item" href="#">Burger</a>
                    <a class="dropdown-item" href="#">Pasta</a>
                    <a class="dropdown-item" href="#">Steak</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ToDo (for employees)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu2">
                    <a class="dropdown-item" href="{% url 'task_list' %}">To-do list</a>
                    <a class="dropdown-item" href="{% url 'task_create' %}">Create Task</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
