{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            {% include 'menu/verfical-navbar.html' %}
        </div>
        <div class="col-md-9">
            <div class="card-container-fluid">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card card-height">
                                <div class="image-container">
                                    <img src="{{ product.image }}" alt="{{ product.name }}">
                                </div>
                                <div>
                                    {{ product.name }}
                                </div>
                                <details open>
                                    <summary>Details </summary>
                                    <p class="text-description-product">{{ product.description }}</p>
                                </details>
                                <span class="price">{{ product.price }} RON</span>

                                <button type="button" class="btn btn-default btn-custom">
                                    Add to cart
                                </button>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'menu/menu-footer.html' %}
{% endblock %}
