<!-- vertical-navbar.html -->
<div class="row">
    <div class="container-fluid">
        <span class="navbar-vertical">
            <a class="nav-link active" href="#">Food Menu</a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Bakery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mexican Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fastfood</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Salad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Traditional food</a>
                </li>
            </ul>
        </span>
        <br>
        <span class="navbar-vertical">
            <a class="nav-link active" href="#">Restaurants in town</a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ's</a>
                </li>
            </ul>
        </span>
        <br>
        <a class="nav-link active" href="#">Blog</a>
        <br>
        <a class="nav-link active" href="#">Recipes</a>
    </div>
</div>
